@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: rgb(var(--slate-950));
  color: rgb(var(--text-color));
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --slate-950: 255, 255, 255;
  --text-color: 0, 0, 0;
  --accent: 245, 158, 11;
}

:root.dark {
  --slate-950: 2, 6, 23;
  --text-color: 255, 255, 255;
  --accent: 251, 191, 36;      
}

.theme-text {
  color: rgb(var(--text-color));
}

.theme-bg {
  background-color: rgb(var(--slate-950));
}